[2016-05-31 09:07] adrianhopebailie opened #1 "Should we define nesting/grouping semantics for payment method identifier matching?"
Migrated from https://github.com/w3c/browser-payment-api/issues/30 by @ianbjacobs

There is a generally interesting question of how we will define payment method identifier matching. There are many possibilities, ranging from exact string equivalence, to complex URI matching schemes, to regular expressions.

This particular issue is focused on a suggestion from the 24 Feb FTF meeting [1]: should t

[2016-05-31 11:53] adrianhopebailie opened #2 "PROPOSAL: Use query string parameters for PMI matching"
## Background

The current proposal of basic string matching has placed unnecessary restrictions on how PMIs can be used.

Under the current system both of the following PMI's reference the Card Payment Method Specification:
https://webpayments.org/card/visa
https://webpayments.org/card/mastercard

This is redundant because the PMI is fulfilling two roles:
1. Identify the payment method that is su

[2016-05-31 12:46] adrianhopebailie opened #3 "Should a payment method identifier (URL) resolve to a machine readable resource that describes it?"
Migrated from https://github.com/w3c/browser-payment-api/issues/46 by @msporny

Migrating from https://github.com/w3c/webpayments/issues/30:

Yes. We should suggest that the resource should be machine-readable (expressed as JSON-LD, at a minimum) for the reasons specified here:

http://www.w3.org/TR/json-ld/#introduction

We should not require it, but encourage it.

At a bare minimum, you could pu

[2016-05-31 12:47] adrianhopebailie commented on #3
The proposal from @dlongley (previously included as requirements in an earlier version of the spec) is as follows:

This text was proposed as a set of requirements for content from resolved payment method identifiers:

[code]

[2016-06-13 12:33] adrianhopebailie opened #5 "PROPOSAL: PMI identifies payment method specification, use meta-data for additional granularity"
Replaces #2
## Background

The current proposal of basic string matching has placed unnecessary restrictions on how PMIs can be used.

Under the current system both of the following PMI's reference the Card Payment Method Specification:
https://webpayments.org/card/visa
https://webpayments.org/card/mastercard

This is redundant because the PMI is fulfilling two roles:
1. Identify the payment metho

[2016-06-13 12:34] adrianhopebailie commented on #2
Replaced by #5

[2016-06-13 12:34] #2 closed, assigned to nobody

[2016-06-13 18:20] ianbjacobs commented on #5
@adrianhopebailie, thanks for writing this up.

Some additional notes:
- In both approaches (query string or JSON in the payment request), there are payment method specified terms that participate in the matching algorithm. For instance, the basic card payment method spec would allow people to use the term "brands" with a list of (arbitrary) values. In the above example, the bitcoin payment method

[2016-06-16 15:52] msporny commented on #5
-1 for domain specific languages (DSL) that encode matching logic in the URL query parameters (@adrianhopebailie's option #1 above) . PMIs should be simple to match against, we shouldn't require Web developers to learn a DSL to use the matching portion of this system

+1 for a tags-based approach - placing extra matching information in the JSON data. The selection logic might not be selecting on a

[2016-06-21 18:54] adrianhopebailie commented on #5
@msporny why do you feel that using query parameters is a DSL?

[2016-06-21 19:58] msporny commented on #5
@adrianhopebailie wrote:

For simple cases, one could argue that it's not a DSL. For example, this is simple: brands=visa,mastercard,cup

That said, I don't think the matching logic is going to stay that simple for some payment methods... and that is going to result in added complexity for mediators.

Payment method developers may want to create many different types of filters (which we should dis

[2016-06-21 20:06] dlongley commented on #5
-1 on encoding any complex matching information in the URL.

I'd be ok with including extra matching information in the JSON data, but I'm not sure how restrictive that needs to be in order for it to work for implementers or for the use cases. One option is to make the `supportedMethods` values be either a string (a PMI URL) or an object with an `id` property that has the PMI URL for its value and

[2016-06-21 20:07] dlongley commented on #5
"brand" is definitely a DSL. Not every payment method will have "brands".

[2016-06-21 23:35] adrianhopebailie commented on #5
The matching logic can't easily change. The logic is the same for all payment methods because it is coded into the mediator. It is precisely this fact that leads me to believe that a simple algorithm that can only take a single set of identifiers as input will severely restrict the design of payment methods

This is a proposal to define a matching algorithm that can take sets of filters/tags/const

[2016-06-22 02:55] rsolomakhin commented on #1
A simple approach (from the browser perspective).
1. Browser matches the identifiers exactly.
2. A payment app that contains visa debit card details can tell the browser that it handles both "visa" and "visa/debit".

As a result, if the merchant requests "visa", then they always get "visa" identifier back, even if it's actually "visa/debit".

Thus we're pushing this question out to the payment app

[2016-06-22 03:16] rsolomakhin commented on #5
This approach seems sensible.

[code]

[2016-06-22 03:23] ianbjacobs commented on #1
@rsolomakhin,

Let's separate the concerns for a moment:

1) Is there a (standard) way to represent a relationship such as "subclass"?
2) What entity or entities use that information in computations?

The discussion that Matt, AHB, and I have been having to date answer those questions as follows:

1) There is a (standard) way to represent a relationship such as "subclass". We are modeling that inf

[2016-06-22 03:52] rsolomakhin commented on #1
I hope to leave the subclassing semantics to the payment method specifications. In case of Basic Card Payment Method spec that we're writing in the working group, I hope to use "/" for subclasses.

Exact matching in browser should take care of that.

[code]

I admit that I have not thought through this proposal thoroughly. I am open to suggestions and other proposals as well.

[2016-06-22 05:01] dlongley commented on #5
@adrianhopebailie,

When there's more than one way to achieve a particular goal, I think it makes perfect sense for people to express preferences for one way over another. In fact, analyzing the particular methods proposed for achieving the goal help determine its feasibility. That's what almost every issue we debate is about. I don't understand why this one would be different.

I think we're aski

[2016-06-22 13:57] ianbjacobs commented on #1
@rsolomakhin wrote:

I agree for some part of the semantics (at least). The question I have is: are there any bits you need in the mediator to enable that? For instance, do we need "substring matching" so that different payment method specs can specify subclasses in some capacity?

In your proposal you use "/" for subclass matching and that syntax would enable anyone using that payment method spec

[2016-06-22 22:08] adrianhopebailie commented on #5
This is a proposal to adopt SOME mechanism for expressing additional granularity and provides examples of two possible ways that additional granularity could be encoded purely for illustration.

We are wasting a lot of cycles debating the merits of one encoding mechanism vs the other before establishing if we think this is something we want to do at all.

[2016-06-22 22:11] adrianhopebailie commented on #5
@rsolomakhin there are two problems with that approach:
1. It mixes data that is supposed to be used for matching (i.e. parsed by the browser) into data that is supposed to be an opaque payment method specific blob only arsed by the payment app.
2. It only works because you are only using a single payment method in each array.

[2016-06-22 22:14] rsolomakhin commented on #5
I am open to suggestions.

[2016-06-23 04:26] dlongley commented on #5
@adrianhopebailie,

That may be because of how the proposal was presented. Given the presentation, the decision for whether or not to do it was dependent upon how it would be done (there's little else to analyze here).

If we want to step back from the details, then I think it would be better to look at a set of use cases to see if we can cover them without having to change the current design. It

[2016-06-23 12:51] msporny commented on #5
I'd like to add one more thing, which I've been asking for repeatedly :), to the list of "things that we need to make an informed decision":
- A list of all of the PMIs we reasonably expect to have in version 1

If that list is roughly 5-10 items in size, and only 3-5 of those PMIs would use this feature, I'd assert that we don't have enough data to create a generalized solution at this point in t

[2016-06-23 12:55] msporny commented on #5
@adrianhopebailie wrote:

The proposal included implementation details and I think most of us are reacting to that.

To put it another way, I'm +0.5 for "SOME mechanism for expressing additional granularity" - I don't think it's high priority, but I don't think it hurts to hash out the design.

I'm -1 for one particular proposal - encoding this mechanism in URL query parameters - I think that appr

[2016-06-23 12:58] adrianhopebailie commented on #5
I believe that @mattsaxon has already provided a list of a hundred or more variations of card payments alone

[2016-06-23 13:05] msporny commented on #5
Link?

[2016-06-23 13:46] dlongley commented on #5
@adrianhopebailie,

And how often do merchants only accept some very specific variation? I understand that debit and credit may be a fairly common differentiation. How many variations, in practice, are used in such exclusive ways that would require Payment Apps to have to list all 100 supported methods as individual PMIs?

I'm worried we may be trying to capture an abstraction without a purpose. T

[2016-06-23 14:15] adrianhopebailie commented on #5
This is a terrible analogy. We are proposing to use a single payment method, defined in a single payment method spec, for all payment cards. Nobody is proposing a single payment method for all crypto-currencies. If you are proposing that we need a new payment method spec for each card brand then I think you've missed the point.

Thus far all I can glean from the comments is:
1. Preference for the

[2016-06-23 14:27] dlongley commented on #5
Like I said, for the purpose of this particular abstraction (matching on what _you can do_), it doesn't really matter if the same spec forms the foundation for paying a particular way if a merchant lets someone pay with one brand but doesn't support letting them pay with another. We're talking about different "things" being supported at that point, not the same thing that works in one case and not

[2016-06-23 16:43] dlongley commented on #5
If I'm a Payment App developer and I say that my app supports payment method X, does that mean I support all subtypes? What if a new subtype arises at some later point in time (as one might expect), won't my app start to fail and I'll have to deal with people thinking it's my app's fault? Does this mean I'll have to enumerate every possible subtype... and doesn't that mean it's not really all that

[2016-06-23 17:09] adrianhopebailie commented on #5
That depends on the payment method. For a lot of the filters we think will be useful for cards it won't.

If I say I support all VISA cards and someone else says they only support VISA cards in the platinum tier I'd expect my app to seamlessly support a new tier like like red and the other app to not support it until they expressly state they do.

[2016-06-23 17:12] dlongley commented on #5
On another point -- I'm not convinced this information will actually ever be used by the mediator (but maybe by a Payment App). As a Payment App developer won't I just always say I support every kind of payment instrument (if possible) for a particular payment method? I want people to come use my app. So what would the match actually be against?

At a minimum, wouldn't I always say I support a par

[2016-06-23 17:16] dlongley commented on #5
Another way of looking at this:

For the basic card payment method, why would a Payment App indicate that they only support some subset of possible cards? And how granular would it need to be?

[2016-06-24 08:21] adrianhopebailie commented on #5
Because if a merchant says they will only accept one set then they can provide a guarantee that they are able to handle the payment request.

Also, the granularity allows the merchant to provide price differentiation (especially important when the different card types have different transaction fees and risk profiles)

[2016-08-10 20:20] adamroach opened #7 "Add Security Considerations and Privacy Considerations sections"
This is a recommendation from the Security and Privacy Checklist review. See https://docs.google.com/document/d/1w7ginyzNg-xZUmITK4vzcGUKB4gbMOAvlkWWaRtX14k/edit?usp=sharing for additional detail

The Payment Method Identifier specification should at least point to a URI spec (e.g., RFC 3986) and its security considerations section.

[2016-08-11 04:25] sideshowbarker commented on #7
I agree that it should point to something but I don’t agree it should be the (legacy) URI spec. It should instead be https://url.spec.whatwg.org/#security-considerations and if what is currently there isn’t sufficient, then bugs should be raised against that (the current URL standard) to get that section made more complete in any ways it which it is currently deficient.

[2016-08-11 14:15] adamroach commented on #7
I have a problem in principle (independent of the URL issue) with normatively referencing specifications produced by a private organization with no clear governance model and no formal IPR policy.

I have a problem in particular with the WHATWG URL specification because uncoordinated competing specifications that claim to cover the same technology are actively harmful to interoperation. The IETF r

[2016-08-11 14:27] sideshowbarker commented on #7
The W3C organizationally does not have any problem in principle with referencing WHATWG standards. (And incidentally the WHATWG is not a private organization.)

[2016-08-11 14:41] annevk commented on #7
@adamroach how can it be the authority if implementations follow something else?

[2016-08-11 14:50] annevk opened #8 "Identifier equivalence does not handle failure"
URL parsing can fail, especially without base URL.

[2016-08-11 14:50] annevk opened #9 "Why URLs?"
We have learned a couple times that using URLs for identifiers is not the best. What's the justification?

[2016-08-12 09:53] adrianhopebailie commented on #7
I'm not sure that's entirely true for all WHATWG specs. There was certainly a lot of back-and-forth recently about this exact issue in WebAppSec. We need to tread carefully here or we will simply create delays for ourselves in resolving this later.

[2016-08-12 10:00] adrianhopebailie commented on #9
The intention is to use URIs (not URLs) but this of course means URLs are also allowed.

The group will use URNs for identifiers of payment methods that are specified by the WG as these are "generic" and there may be multiple payment apps that could implement these methods.

However we want to leave the door open for other to develop their own payment methods that are not generic and may be specif

[2016-08-12 10:04] annevk commented on #9
o_O

[2016-08-12 11:15] adrianhopebailie commented on #9
Is that technical term? Not sure what it means?

[2016-08-12 12:01] msporny commented on #9
@annevk is probably surprised that we're saying that organizations may use URLs to identify payment methods, but are not defining what should be at the end of those URLs, if anything, and we're punting that decision to "the markets". Waiting for the market to sort it out will almost certainly result in strange backwards-compatible hacks that implementations will have to do in the future to prevent

[2016-08-12 18:13] tabatkins commented on #9
More fully expanding on @annevk's and @msporny's comments:

URLs are a terrible anti-pattern for identifiers, as has been proven over and over and over again every single time someone tries to use them as such.  The canonical anti-example is XML namespaces, but every use suffers from the exact same problem, which is that identifiers want to be opaque strings, but URLs are _not_ opaque strings to h

[2016-08-15 08:02] adrianhopebailie commented on #9
@annevk , @tabatkins thanks for joining this conversation, we're at a key point in figuring out this aspect of the payment API design so getting some fresh eyes is valuable.

We made the decision a while ago that we didn't want to use linked-data to express the data models used by the API and I think using URLs as identifiers is left over as a compromise from that debate.

The group is currently c

[2016-08-15 14:35] zkoch commented on #9
Thanks for bringing this up again. We're looking at this spec again right now, so it's the ideal time to have the discussion.

I agree that there are numerous downsides to URLs. We went through all of the various possibilities before settling on them as the mechanism for identifying payment methods.

It probably is worth reading the [proposal](https://github.com/w3c/webpayments/blob/gh-pages/propo

[2016-08-15 15:33] msporny commented on #9
To be clear, I was summarizing what I've heard @adrianhopebailie say a few times, namely:

Like @zkoch, I also agree that NOT defining what should be at the end of the URL and letting the markets decide would be a mistake.

[2016-08-15 15:58] ianbjacobs commented on #9
@zkoch wrote:
"We can and should define what lives at the end of these identifiers and make it a part of the process."

Several ideas have been floated for what dereferencing a PMI returns:

 1 Payment method spec
 2 Metadata about the payment method (e.g., for registration)
 3 Information about a payment app

It sounds from this thread like the second one is what you are currently thinking. Is th

[2016-08-15 19:02] zkoch commented on #9
I want to be brief as not to detract from the key point of this conversation, but the answer (to me) is both (2) and (3).

But let's discuss elsewhere and focus this conversation on whether or not to use URLs.

[2016-08-15 23:34] tabatkins commented on #9
Using URNs is overengineering for no benefit. They're intended for global identifiers that can appear in many contexts, so the extra information is useful in identifying them.  Here, tho, it's merely an enum used in an API.  You can drop literally all of that but the last identifier (`basic-card`) and get exactly the same benefits with vastly improved usability.  URNs are not used in this way anyw

[2016-08-15 23:50] ianbjacobs commented on #9
@tabatkins wrote:

"Looking over PaymentRequest, I'm not clear what 3rd-party payment methods even do. The browser is supposed to "supply a UI" for the payment method, but I can't tell how it's supposed to do so for an arbitrary unknown payment method."

We're working on third-party payment apps separately. We have a draft in progress, not yet taken up as a FPWD:
 https://w3c.github.io/webpayments

[2016-08-15 23:58] tabatkins commented on #9
Okay, so this suggests that 3rd-party methods are _always_ indirected thru apps, and thus origin information is what you need.  (Or theoretically thru a Service Worker, where again origin-level is the correct way to go; sub-origin scoping is not a security boundary for SWs, and is considered to be a legacy mistake.)  Right?

[2016-08-16 00:35] zkoch commented on #9
This is a fair point. We settled on URNs so we could make the statement that all payment method identifiers are URIs. The extra boilerplate seems minimal and low cost to me, but curious what others think. I could be persuaded to go with a simple string.

Yes, agreed on origin. There are a few additional values to using URLs over origins:
1. It allows for multiple payment methods to exist at a sing

[2016-08-16 01:08] tabatkins commented on #9
This is an argument based on spec simplicity, which is very wrong. Per the Priority of Constituencies (user > author > implementor > spec), spec simplicity is one of the lowest things to value.  You should be optimizing for author usability here.

None of these reasons seem to be compatible with communicating with apps, which have an associated origin.  Multiple payment methods should indeed be su

[2016-08-16 14:27] dlongley commented on #9
If these identifiers aren't intended to be used _on the Web_, but rather they are only ever going to appear in a JavaScript browser API as a simple enumeration, then I agree that they should just be simple strings. If the intent is for payment methods to fit into a larger _Web Payments Architecture_ where they may be referenced in various payment-related messages on the Web, then a Web-based ident

[2016-08-16 19:57] adamroach commented on #9
I think what is getting lost in this conversation -- especially for those who haven't been following the discussion for the past several months -- is that these URLs are just identifiers. They don't have security properties associated with their origins.

Backing up: what we want is a delegation model that allows third parties to mint new, guaranteed unique identifiers for their payment methods (N

[2016-08-16 21:04] tabatkins commented on #9
URNs aren't web-based, they're an opaque string that (purposely) happens to vaguely resemble URL syntax.  They don't resolve to anything and have no intrinsic meaning.  Their only benefit over a simple enumeration is that they carry around a namespace label that helps identify what they're for when you see them out of context; this is particularly true for URNs where the payload is just a number o

[2016-08-16 21:23] adamroach commented on #9
@tabatkins:

It's a point of rendezvous between a payment requester and a payment app. The general lifecycle looks like this (although I'm eliding some details, like the difference between "installed" and "enabled" apps):
1. User visits a website that hosts a payment app (e.g., bankofphobos.com, bobpay.com, big-online-store.com)
2. The payment app [registers with the browser](https://w3c.github.io

[2016-08-16 21:38] zkoch commented on #9
I'm not sure I necessarily agree with this. There are situations where this is true (e.g. basic_card), but it does not necessarily hold true for proprietary payment schemes. BobWallet.com can not arbitrarily say it supports AlicePay.com if AlicePay.com is a proprietary payment system. It just can't work. So there has to be some mechanism by which the payment mediator can validate this statement. T

[2016-08-16 21:41] dlongley commented on #9
Playing devil's advocate -- that doesn't mean we necessarily have to do anything about it. The user will just have a bad experience with that Payment App when it doesn't work ... and probably uninstall it.

[2016-08-16 21:42] adamroach commented on #9
@dlongley beat me to it. If an app claims to support a payment method but cannot satisfy the needed behaviors, then the users will quickly learn to distrust it, and probably uninstall it. this seems like a problem that will work itself out.

[2016-08-16 21:44] adamroach commented on #9
To be clearer: an app that says it can service AlicePay.com but cannot has no substantially different property than an app that says it can service basic-card but cannot. Right?

[2016-08-16 21:46] dlongley commented on #9
Yup, was going to say the same thing. An app could have any number of problems actually fulfilling its promise to support a particular payment method, this is just one of them.

[2016-08-16 21:47] zkoch commented on #9
True, but there are two issues here:

1.) It's going to be very difficult to get certain payment method/app providers to play along if there isn't any way to protect their brand.

2.) This is not the kind of UX I would feel comfortable shipping.

You've just incentivized "Wallet providers" to  claim they support many different payment methods, even if it isn't true, to ensure they show up in the l

[2016-08-16 21:49] adamroach commented on #9
@zkoch

It's really more of a "yes" or "no" question, and I can't tell which answer you're giving.

[2016-08-16 21:51] adamroach commented on #9
I also don't understand the incentive you're claiming. If an application perpetually shows up but usually fails, I'm never going to use it. I'll probably rip it out of my browser.

I might even expect something like "The payment app 'slimeballz.com' could not process your payment. Would you like to uninstall it?"

[2016-08-16 21:56] dlongley commented on #9
If a Payment App I develop keeps showing up as a choice for users and they can't actually use it to fulfill their payment requests, I'd be strongly incentivized to make sure I fixed that right away, lest those users uninstall it and spread the word that my app is terrible.

[2016-08-16 21:58] zkoch commented on #9
I would argue that both of you are probably not the typical user. We've seen nefarious software do all kinds of things to browsers that users don't understand that creates a worse and/or confusing experience. We then spend lots of time and money trying to correct it.

There are all kinds of incentive structures that exist out there, and doing the right thing that is good for users is not necessari

[2016-08-16 22:00] dlongley commented on #9
I concede that some users may not understand what's going on and may not be able to easily uninstall the app (or may feel too uncomfortable to do so).

Edit: But will add that I don't know if solving the problem in this particular case will make a significant impact in those users' experiences (given that there are many other cases we may have more difficulty helping out with). If I'm trying to ca

[2016-08-16 22:04] adamroach opened #11 "Resolve whether browsers need to police payment app claims of supported methods"
There's a conversation among @zkoch, @dlongley, and me starting with this comment: https://github.com/w3c/webpayments-method-identifiers/issues/9#issuecomment-240247631 -- I'm moving it to its own issue because it's not strictly relevant to issue 9.

The crux of the matter is: is it necessary to have some technical countermeasures to prevent malicious apps from registering with a claim of supporti

[2016-08-16 22:07] adamroach commented on #11
@dlongley

That's why [I implied that the browser might detect this situation when it happens](https://github.com/w3c/webpayments-method-identifiers/issues/9#issuecomment-240250914), and lead the user down a path that makes it clear that uninstalling the app is probably the right course of action.

[2016-08-16 22:10] adamroach commented on #11
@zkoch

Sure, but if it's _a bad experience for proprietary payment methods_, then _it will be a bad experience for standardized payment methods_. If I want my crapware to appear in the list every time someone goes to pay for something, I'll register as supporting every W3C-defined PMI. If you can fix that problem, then you fix the one you're complaining about. If you _can't_ fix that problem, the

[2016-08-16 22:22] adamroach commented on #9
@tabatkins

That may work as well -- can you give an example of somewhere else the W3C has done this? I got the impression from conversations with @dontcallmedom (in the context of `getUserMedia()` constraints) that the mode of operation you describe was disfavored by the W3C staff; but the objections may have been specific to the facts of that case. Precedent would probably go a long way to assua

[2016-08-16 22:25] zkoch commented on #11
We've been detecting and trying to prompt users to remove unwanted software for a long time. It is not easy and it is very confusing for users. You're much better off trying to prevent the problem up front (as best you can).

Not in the same way (assuming you mean payment method instead of app). Because any payment method that is standardized means that it's open. Which means there is at least a _

[2016-08-16 22:33] adamroach commented on #11
_[Yes, I edited my previous comment to fix "app" -> "method"]_

@zkoch

No, now you're describing a different situation. The thing that you're claiming is unacceptably bad is malware putting itself in the list. And, again, if it's unacceptable in one case, it's unacceptable in the others. The fact that we can't police one and can (with additional mechanism) police the other doesn't make the proble

[2016-08-16 23:22] tabatkins commented on #9
Ah, I see. It looks like y'all are indirecting thru the "request_url" - an app somehow informs the OS that it will POST payment information to a particular url, and then a website comes along and says "hey, the app that can post to this `request_url` should be associated with this `payment_app_id`", and then _another_ website comes along and says "hey, boot up the app that's been connected to this

[2016-08-17 02:06] adamroach commented on #9
@tabatkins

No, you've got both the ordinality wrong and the thing that the website asks for wrong.

The website says "boot up one of the potentially _many_ apps that are associated with this `payment_method_id` (not `payment_app_id`)" -- and then the browser gives the user an opportunity to select from among the many apps that can handle `payment_method_id`.

As a minor detail that doesn't really

[2016-08-17 02:58] tabatkins commented on #9
I got the `payment_app_id` from [where you pointed me to](https://w3c.github.io/webpayments-payment-apps-api/#paymentapp.register) - I don't see anything at that destination that talks about registering a `payment_method_id`.

Ah! That clears up some parts of this a ton, but confuses me further on other bits.  Was I misinterpreting _every_ use of "app" by people earlier in the thread?  Or are we a

[2016-08-17 04:43] adamroach commented on #9
@tabatkins

It's:

[code]

Where:
- `payment_app_id` is a unique identifier for the payment app (n.b., if URL isn't okay for an identifier, we may need to re-think this as well)
- `request_url` is the place the identified app is retrieved from (posted to in the current document; but, as I say, that's changing)
- `payment_options` (maybe not the best name) is a list of these:

[code]

...and `enabl

[2016-08-17 06:42] annevk commented on #9
@adamroach one thing you definitely want to change there is the naming convention, see https://w3ctag.github.io/design-principles/#casing-rules, although it seems dictionary members (which should be lower camelcase) are not covered there.

[2016-08-17 08:57] adrianhopebailie commented on #9
It may be useful for anyone new to this work to read both:
1. [This overview](https://w3c.github.io/webpayments-overview/) and
2. [This early architecture proposal](https://github.com/w3c/webpayments/wiki/A-Payments-Initiation-Architecture-for-the-Web) which is now somewhat outdated but provides useful context to some of the design considerations.

What these APIs are attempting to facilitate is a

[2016-08-17 09:21] adrianhopebailie commented on #11
I agree with @zkoch that with basic card there is at least a chance of success and with a truly proprietary payment method that is not the case BUT I think @adamroach 's point is valid; if a payment app wants to insert itself in the user's checkout flow they will do so irrespective of how likely it is that they will take a user down a path to success.

Let's assume I am a payment app publisher wit

[2016-08-17 11:56] annevk commented on #9
Is there any kind of interest from browsers to implement that "fetch the metadata manifest and figure out what's next" approach? It seems the website would likely have lost the user at that point.

[2016-08-17 13:39] adrianhopebailie commented on #9
That is not clear. The proposal to use URL's and also define what is at the end of them comes from Chrome (@zkoch) :

But Chrome have not really engaged in the design of the payment apps API to date so it's hard to know what they are thinking with regard to WHAT will be at the end of that URL (especially if not a manifest) because that is mostly relevant to payment app registration and we don't kn

[2016-08-18 15:16] adamroach commented on #11
@zkoch had mentioned that he wanted some notion of what kind of real-world relationships we might see between payment methods and eligible apps. Off the top of my head, I can easily foresee the following kinds of payment methods existing in the ecosystem, and I think we want to ensure that we can support all of them:

| Method | Defined by | Who can provide app |
| --- | --- | --- |
| Basic Card |

[2016-08-18 15:58] zkoch commented on #11
@adamroach It's not that I don't see the theoretical list of possibilities. I'm more interested in real-world examples, as those are the problems I'm interested in prioritizing at this point and what should inform our design.

As it turns out, in practice what we see are:
- Lots (and lots) of examples of basic card
- (1-2 examples of PayMe)
- Many examples of Wallybux

ABC-Co and Altavista card to

[2016-08-18 19:21] adrianhopebailie opened #12 "Should a payment method identifier that is a URL bind that payment method to a single payment app or origin?"
Related to @zkoch 's [proposal](https://github.com/w3c/webpayments/blob/gh-pages/proposals/zach-pmi.md) and also #11

If a payment method identifier is a URL does that URL point to a machine readable resource that allows the browser to establish a connection between that method and multiple apps from different origins OR does the url enforce a 1-to-1 mapping of the payment method to a payment app

[2016-08-18 19:22] adrianhopebailie commented on #11
Every payment processor has relationships with their merchants that allow those merchants to accept payments using the payment method defined by that processor. In the real world this means AliPay, AndroidPay, Apple Pay, PayPal, WorldPay etc.

These processors MAY (and I think we can assume WILL in most cases) define a "proprietary" payment method. (In fact Alipay have already defined the payment

[2016-08-18 19:33] rsolomakhin commented on #12
I think there should be a machine readable resource at the URL that determines whether
1. any payment app can handle this type of payment, or
2. only certain payment apps can handle this type of payment.

That way the owner of the URL is in control of their own engineering and business decisions.

[2016-08-18 20:24] zkoch commented on #12
I don't understand this issue. Is anyone arguing for a "url enforce a 1-to-1 mapping of the payment method to a payment app from the same origin"?

In my proposal discussing proprietary payment methods (and their respective origins) I say:

and

I'm saying the dominant use case of the existing ecosystem is, in most cases, a 1:1 mapping between method and app. There are exceptions and we should pla

[2016-08-18 20:35] zkoch commented on #11
Yes.

I don't necessarily agree with your assumption here. Chase Paymentech has been around since the 80s and hasn't done this. FirstData has been around since the 70s and hasn't done this. Those are the two biggest ones (at least in the US). AliPay hasn't yet opened up their system so that other players can return back AliPay credentials (at least not yet). WeChat Pay, the second largest (and rap

[2016-08-18 20:35] adrianhopebailie commented on #12
This implies a 1-to-1 mapping, or at least prevents anyone publishing an app at a different origin to the origin in the payment method identifier.

Real world example: this prevents bestbuy.com publishing a payment app that claims to support the paypal.com payment method.

[2016-08-18 20:37] adrianhopebailie commented on #11
Because right now there is no incentive for a merchant to publish a payment app

[2016-08-18 20:38] zkoch commented on #12
No, it doesn't. And I address this exact use case in the proposal:

_By default_ is the key word here.

[2016-08-18 20:40] adrianhopebailie commented on #11
Those are bad examples. They process card payments.

We're looking at eWallet systems (for want of a better word) like Paypal, Stripe, Braintree who allow their payments systems to be embedded in other apps already today.

[2016-08-18 20:57] zkoch commented on #11
We're going to start splitting hairs, here. For example, Stripe is fundamentally just an ISO of Wells Fargo Merchant services which leverages Chase Paymentech. Braintree is an ISO for a wide variety of players (including both Chase and FirstData). But at their core, they're really just card payments. PayPal is an example of a 1:1 relationship between App and Method.

But I guess what I'm looking f

[2016-08-19 09:13] adrianhopebailie commented on #12
What the proposal says is that browsers should do two things with proprietary payment method identifiers:
1. By default, only allow payment apps from the same origin as the origin of the payment method
2. Get the manifest file that the URL points to and process this to decide what origins can publish payment apps supporting this payment method

**Issue 1**: If we do this we are overloading the pay

[2016-08-19 09:35] adrianhopebailie commented on #11
Not sure this is relevant. The people that will write payment apps and publish new payment methods are the ISOs that deal directly with the merchants and users.

Using PayPal as an example, are you suggesting PayPal would not want Shopify to offer PayPal as a payment method if Shopify had a payment app that was used by all of their merchants?

That's not what I am saying. I am saying it doesn't ex

[2016-08-19 16:16] dlongley commented on #11
@zkoch,

I can understand if this statement (emphasis mine) is more than just conjecture, but I would find it a little surprising. Is it more than conjecture?:

Anyone can claim whatever they want, but I gather that you're talking about that claim translating into the app actually showing up as a choice. But it seems like the only time this extra protection would have an effect would be when no op

[2016-09-06 13:18] adrianhopebailie opened #13 "Schema.org PaymentMethod as namespace for short strings"
Since we resolved to use short-strings for payment method identifiers that are not minted by independent entities does it make sense for us to register these short strings (or re-use those) in the http://purl.org/goodrelations/v1 namespace.

See http://schema.org/PaymentMethod

This also begs the question of whether it makes sense for the payment method manifest to have a well defined context and

[2016-09-12 17:50] zkoch commented on #9
The group has resolved to use URLs, so marking this as closed.

[2016-09-12 17:50] #9 closed, assigned to nobody

[2016-09-12 17:55] zkoch commented on #8
We've decided to use absolute URLs, so I don't think this is relevant any longer. Closing.

[2016-09-12 18:04] tabatkins commented on #9
More detail, assuming the group resolved in a way similar to what Zach described to me in person: the spec is going to use URLs _with a defined type of document at the endpoint which is necessary for the feature to function_.

Within this, tho, I recommend the spec require that the URL be normalized (using terms from the [URL standard](https://url.spec.whatwg.org)) to be just origin + path (and di

[2016-09-12 19:38] adrianhopebailie commented on #9
@tabatkins said:

This is complicated by the fact that there is a desire for this document to potentially contain an embedded object which is necessarily represented by a different URL (it is an identifier for a payment app, not a payment method). The only way to do this would be to have a fragment that points to the embedded object and therefor the URLs only differ based on that fragment.

See: h

[2016-09-12 21:26] adrianba commented on #13
The reason we decided to go with short-strings was to avoid any overhead from having to manage an external registry. It doesn't make sense to me to now decide to use an external registry for these strings. How about we just define the strings in the payment method specs?

[2016-09-12 21:30] ianbjacobs commented on #13
I would put it slightly differently:
- It seems we can advance the specification without needing a registry (beyond the definition in the spec).
- It may be useful independently to register the strings in one more more registrations. (And more investigation would need to happen to determine there's a value in doing so.)

I would not hold up the spec for a registry.

Ian

[2016-09-12 22:12] adrianhopebailie commented on #13
+1 , but I will add that we have ignored, up to now that there is already a registry that we COULD just use where the short-strings are implied to be the fragments on a http://purl.org/goodrelations/v1 base URL ...
- http://purl.org/goodrelations/v1#VISA
- http://purl.org/goodrelations/v1#ByInvoice
- http://purl.org/goodrelations/v1#COD

[2016-09-13 07:23] annevk commented on #9
The group hasn't really explained their rationale to OP though (and the various others that chimed in).

[2016-09-13 07:24] annevk commented on #8
How would it not be relevant? How do you test whether it's an absolute URL?

[2016-09-13 07:39] adrianhopebailie commented on #9
The rationale is that the URL will point to a manifest that document that defines details about the payment method, most importantly a white list of payment app identifiers and/or origins for publishers of payment apps that are authorized to handle this payment method.

[2016-09-13 07:51] annevk commented on #9
So it's no longer used as identifier, but as a resource?

[2016-09-13 11:43] webpayments-specs commented on #8
Well... since it is a requirement on an author, not an implementor, we
don't really _need_ to test that strictly speaking.  It's not that I don't
appreciate the "how many angels on the head of a pin" arguments about URL
parsing, I just don't think they matter as much when we are talking about
something that is not end-user facing.  While it is true that these URLs
can be dereferenced, I expect tha

[2016-09-13 11:44] halindrome commented on #8
My bad - I replied to the email instead of coming in here.... that comment above is from me.

[2016-09-13 12:13] annevk commented on #8
But you need to define that. Otherwise some implementations end up treating `https://example`, `https://example/`, `https://example:443/`, and `https://EXAMPLE/` as identical, whereas others don't.

[2016-09-13 15:10] halindrome commented on #8
Isn't the reference to the URL spec and its definition of URL Parser sufficient?  What additional text would you propose?

[2016-09-13 15:31] annevk commented on #8
Well if you keep the current text, you need to handle failure since https://url.spec.whatwg.org/#url-equivalence expects two URLs and not failure as argument. Again, I don't understand why this issue was closed.

[2016-09-13 15:33] zkoch commented on #8
We can re-open and close when the PR comes out.

[2016-09-13 16:37] halindrome commented on #9
My take on this is that it is both.  It is an identifier in that it identifies a payment method, and it is a resource in that it dereferences to data that informs implementations about the characteristics of that identifier.

[2016-09-13 18:23] annevk commented on #9
You need to treat it as one or the other. Anything else will lead to problems.

[2016-09-16 20:10] adrianba commented on #13
I don't believe that is true. There are many registries we _could_ just use. I don't believe we need one and I recommend closing this issue.

[2016-11-17 08:22] adrianhopebailie opened #17 "Support for PMI's with schemes other than https?"
From: https://github.com/w3c/webpayments-method-identifiers/pull/16#discussion_r88373861

There is a concern that having browsers all over the world fetching a manifest all the time will put significant strain on the hosts of the manifest.

There are protocols that are better at serving static content than HTTP such as IPFS. While they're not supported in most browsers yet, they may be soon.

So,

[2016-11-17 08:37] adrianhopebailie opened #18 "SRI on manifest"
Is it possible (and desriable) to have a way to perform resource integrity checks on the manifest?

Can an SRI hash be put directly into the URL somehow (as a query parameter that IS allowed maybe)?

Related to #17 we might want to use `ni:` URIs that translate to an HTTPS resource.

See https://tools.ietf.org/html/draft-farrell-decade-ni-10#section-4  and the examples later showing how

`ni://exa

[2016-12-12 15:43] ianbjacobs commented on #3
Closing this issue because we answered "yes" for PMIs that are URLs.

[2016-12-12 15:43] #3 closed, assigned to nobody

[2016-12-12 15:43] ianbjacobs commented on #1
Closing this issue because we answered "no." We are using filters (cf basic card as an example) to address a subset of the use cases.

[2016-12-12 15:43] #1 closed, assigned to nobody

[2016-12-12 15:45] ianbjacobs commented on #5
Closing this issue. We are addressing how payment apps handle filters in the payment apps task force:
 https://github.com/w3c/webpayments-payment-apps-api/issues/63

[2016-12-12 15:45] #5 closed, assigned to nobody

[2016-12-12 15:47] ianbjacobs commented on #11
Closing this issue with the answer "yes". This is being handled via manifest files. For proprietary payment methods, the expectation is that origin and digital signature information in the payment method manifest will provide browsers with information to do checks. See:
 https://w3c.github.io/webpayments/proposals/Payment-Manifest-Proposal.html

The payment apps task force is also discussing payme

[2016-12-12 15:47] #11 closed, assigned to nobody

[2016-12-12 15:48] ianbjacobs commented on #12
Closing this with the answer "no". The payment method manifest file defines mechanisms to allow for multiple apps from multiple origins:
 https://w3c.github.io/webpayments/proposals/Payment-Manifest-Proposal.html

[2016-12-12 15:48] #12 closed, assigned to nobody

[2016-12-12 15:50] ianbjacobs commented on #13
Closing this issue based on discussion above and also group resolution (cf the PMI spec [1]) that "W3C identifies these payment methods with (short) strings; W3C expects to mint these strings in payment method specifications published by the Web Payments Working Group.".

We can always do more if we perceive that it would be useful.

[1] https://www.w3.org/TR/payment-method-id/#w3c-defined-strings

[2016-12-12 15:50] #13 closed, assigned to nobody

[2016-12-12 15:59] ianbjacobs opened #19 "How should we address payment method manifest files?"
@zkoch wrote a first proposal:
https://github.com/zkoch/zkoch.github.io/blob/master/pmi.md

Since then there have been a number of suggestions. Here is a first pass summary of some pros and cons (help welcome!):

1) Hard-coded URL
        Pro: Simple configuration
        Con: Limits server to one manifest file per payment method. Squats URI space.

2) HTTP Link header (used in conjunction with ca

[2016-12-15 15:31] rsolomakhin commented on #17
+1 to rephrase "must start with https://" to say "must be hosted in a secure fashion." This opens the door to the future secure protocols.

[2016-12-15 15:41] adamroach commented on #19
We discussed this in Lisbon, so I've had a bit of time to think about it already --

Strong preference for option 2 (HTTP Link header) -- I think its "con" list is pretty compelling. :)

Option 4 also seems workable. I don't think human readability is a major consideration here -- the only people who would try to resolve these URLs are developers, and JSON shouldn't be a problem for them.

[2016-12-15 15:47] halindrome commented on #19
I am comfortable with 2.

[2016-12-16 17:52] zkoch commented on #19
I would add a con for 2 of: "More challenging and time consuming to developers to integrate"

[2016-12-19 15:57] adrianhopebailie commented on #19
Can we define more than 1 of these with an order of preference for browsers to follow?

That way those that are able to do the more correct ones that require fewer request round-trips can implement those and those who are not able to can do the simpler ones on the understanding that they may be impacting the user experience.

[2016-12-20 08:22] marcoscaceres commented on #17
I would get input from the WebSecWG before we change text here. In general, I agree with the intent - but if some weird "secure"(tm) protocol gets used by one UA, it risks screwing over all other UAs and remaining spec-conforming.

[2016-12-20 08:23] marcoscaceres commented on #17
(fixed above)

[2017-01-05 15:29] stevenatkin opened #20 "Why are payment ids restricted to [a-z0-9]?"
4.1 Syntax
https://w3c.github.io/webpayments-method-identifiers/#syntax-1

Is there a specific requirement that identifiers be restricted to [a-z0-9-]? Are there any international card issuers that may require characters outside this range?

[2017-01-05 16:11] ianbjacobs commented on #19
At the 5 January 2017 call [1] there was a preference for option 2 (HTTP Link Headers). Google and Samsung are going to experiment and bring findings back to the group by 26 January. We also plan to do a little homework on the extent of support of HTTP Link Headers, though it was pointed out that the number of registered link relationships [2] is encouraging.

We picked this rel string: payment-me

[2017-01-05 18:25] ianbjacobs commented on #20
Hi Steve,

I'm not aware that we've encountered any.

Also, these strings are intended for automated matching and so are not intended for humans to read. They will most likely never be seen by users.

Ian

[2017-01-17 00:25] mnot commented on #19
Browsers support `Link` headers, in that they're exposed anywhere else HTTP header fields are exposed, such as Fetch and XmlHttpRequest.

Some browsers also support a handful of relations natively, e.g., `stylesheet`, `prefetch`, `preload`. So the barrier to them directly supporting a new relation (if they choose to) shouldn't be too high.

[2017-01-17 03:26] marcoscaceres commented on #18
You probably don't want them in the URL, you want them on whatever initiates the request (e.g., `fetch(request)`, `<link>` or whatever).

[2017-01-20 14:29] rsolomakhin commented on #19
`Link` headers work for us.

[2017-01-22 18:43] adrianhopebailie commented on #19
@mnot I think the concern is more about how easy it is for developers to service `HEAD` requests.

My take from the call was that this is not considered a blocking issue as we expect "hosting" a payment method to be a fairly sophisticated exercise.

[2017-01-23 13:11] rsolomakhin commented on #19
I looked into this and it appears to be quite easy. Here's how you do it in Node.js:
[code]
And here's PHP:
[code]

[2017-01-23 14:12] adrianhopebailie commented on #19
@rsolomakhin how about if my domain is hosted on GH Pages? 😄

If you have access to a server and the ability to do more than just put static files on that server then I agree it's pretty easy.

When defining these things it's always nice to think about the developer that doesn't have these luxuries. In this case though, I think we're safe requiring them.

[2017-02-02 21:06] ianbjacobs commented on #19
At today's teleconference [1] we resolved that:

 * Payment method identifiers that are URLs can be used to discover machine readable information.
 * We are defining a specification (Payment Method Manifest Spec [2]) that will house that machine readable information.
* Given a payment method identifier (URL) user agents will discover payment method manifest files via HTTP Link headers.

Editorial

[2017-02-02 21:06] #19 closed, assigned to nobody

[2017-02-03 08:32] adrianhopebailie commented on #18
@marcoscaceres the challenge here is that all you have is the URL.

The scenario is this...

A payment request contains a payment method identifier that the browser has never seen before so it does a HEAD request on that URL and get's the location of the payment-method manifest. This can be empty or can contain information such as the payment apps that are allowed to handle requests for this metho

[2017-02-03 08:38] adrianhopebailie opened #22 "Circular dependency between PMI and PR specs"
The PMI spec lists the Payment Request spec as a normative dependency and the Payment Request spec lists this spec as a normative dependency.

[2017-02-13 09:08] marcoscaceres commented on #18
It depends how the fetch is initiated - and it contains a way of verifying the integrity... see, for example, https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity

If it's delivered on TLS, then it can be validated, so long as the page that initiated the request provides the hash to validate against.

[2017-02-13 09:10] marcoscaceres commented on #22
I think that fine. They just progress together. At the end of the day, it's humans that decide how the specs progress along the REC track, and we can just make exceptions for things like this.

[2017-02-17 08:26] marcoscaceres opened #23 "Payment Method Identifier needs dfn"
There needs to be an actual `<dfn>Payment method identifier</dfn>` in the doc, which other specs can reference. The Payment Request spec needs this.

[2017-02-23 15:12] ianbjacobs commented on #17
Closed with adoption of PR 21 at 23 Feb Meeting
http://www.w3.org/2017/02/23-wpwg-minutes.html

[2017-02-23 15:12] #17 closed, assigned to nobody

[2017-03-20 02:47] marcoscaceres commented on #20
This seems wrong for URLs. There are effectively two types:

 * URLs, which are USVString
 * Predefined enum values (e.g., "basic-card")

We should make sure the spec reflects this properly.

[2017-03-20 02:50] marcoscaceres opened #24 "Add marcoscaceres as collaborator"
@ianbjacobs, can you add me to this repo please.

[2017-03-20 02:56] ianbjacobs commented on #24
Done

[2017-03-20 02:56] #24 closed, assigned to nobody

[2017-03-21 14:25] ianbjacobs opened #26 "Link to registry of W3C-published short strings"
The PMI spec says:

 "W3C expects to publish a small number of payment method specifications that define abstractions across similar payment methods (such as credit card payments, tokenized payments, or credit transfers)....W3C expects to mint these strings in payment method specifications published by the Web Payments Working Group."

I propose that we include a link to a WG-managed registry of W

[2017-03-21 15:12] webpayments-specs commented on #26
+1

On Tue, Mar 21, 2017 at 10:25 AM, ianbjacobs <notifications@github.com>
wrote:

[2017-03-24 20:40] marcos-travel opened #27 "Check what happens if URL parsing throws...."
... and if PaymentRequest is trying to use a malformed URL.

[code]

[2017-04-11 08:42] dbaron opened #28 "use of 'must' in section on Syntax of URLs as Payment Method Identifiers is suspicious"
The [section on Syntax of URLs as Payment Method Identifiers](https://w3c.github.io/webpayments-method-identifiers/#syntax) currently says:

The first thing that's odd here is that there are three uses of "must", but only 2 of them are marked up as RFC2119 "must"s (the middle one is not).

But the slightly larger point here is that it's imposing a normative requirement on a URL.  While RFC2119 doe

[2017-04-11 08:43] dbaron opened #29 "[SECURE-CONTEXTS] should be a normative rather than informative reference"
The specification currently [says](https://w3c.github.io/webpayments-method-identifiers/#syntax):

but then includes [SECURE-CONTEXTS] in the *informative* references section.  The use of **must** in the above sentence (but see #28) makes me think that this should instead be a *normative* reference.

[2017-04-11 08:43] dbaron commented on #29
(I got here from w3ctag/spec-reviews#152.)

[2017-04-11 14:22] dbaron opened #30 "citation to dated version of since-abandoned url spec fork is unusual"
The [References section](https://w3c.github.io/webpayments-method-identifiers/#references) currently cites a dated version of a spec:

whose "Latest version" link leads to https://www.w3.org/TR/2016/NOTE-url-1-20161206/, which says:

(emphasis mine).

Given this state of the document, it seems odd that Payment Method Identifiers references it.

(I got here from w3ctag/spec-reviews#152.)

[2017-04-11 15:37] marcoscaceres commented on #30
Oh, thank goodness (well, thank Annevk) they gave up on the URL spec. Will update the reference... now, can we get the same for DOM and HTML? 🤓

[2017-04-11 15:41] ianbjacobs commented on #30
I believe that we can refer to WhatWG specs that have material not present in W3C versions.

[2017-04-19 22:10] zkoch commented on #30
Assigning to Marcos because he said: "Will update the reference"

Also he didn't object in the meeting ;)

[2017-04-19 22:15] zkoch commented on #26
Ian, can you take a stab at this?

[2017-04-19 22:19] adrianba commented on #22
The original design was that PMI should be usable without PaymentRequest so it should be informative at most.

[2017-04-19 22:20] #20 closed, assigned to nobody

[2017-04-19 23:02] ianbjacobs commented on #26
At the FTF meeting Marcos proposed an alternative:

* Include the list of short strings dynamically in the specification in an informative note.

I like that idea because I think it will be easier to maintain the list over time if it is near the specification itself (in the same directory on w3.org). There might be some concern about
dynamically changing specification content, but the concern is m

[2017-04-20 11:39] adrianhopebailie commented on #26
The note should also list specs in progress that the WG has agreed to work on (like the tokenization spec). These should be marked as experimental.

[2017-04-20 12:18] ianbjacobs commented on #26
I am not enthusiastic about linking to pre-published specs.

Ian

[2017-04-20 13:35] adrianhopebailie commented on #26
I am **VERY** enthusiastic 😄

If we publish the spec with no indication that there will be more than one browser supported PMI or even a hint at where to find information on what is being developed then we are knowingly withholding valuable information from developers.

What is the risk of providing this information?

[2017-04-20 13:46] ianbjacobs commented on #26
I don't want to start to advertise short strings that people might start to use based on pre-published work.  Our current experience is a great example. We are working on tokenized card payment. The spec as-is makes sense and people could start to use it. EXCEPT that as soon as we shared it with the WG, the WG said "Let's do something completely different!".

I think that if we are confident enoug

[2017-04-20 14:46] adrianhopebailie commented on #26
Agree this should be a curated list and not include any and all work we are doing only those the WG has consensus to take up. Minimum requirement should be that the WG has created a dedicated repo for the spec so that developers can convene around the work and hopefully contribute to it.

Publishing a list of experimental short strings with links to the in-progress specs seems like a very effectiv

[2017-04-20 14:50] ianbjacobs commented on #26
While I like mechanisms to get input, I don't believe this will be an effective one. Published W3C specifications by design do not change. I do not think this will be a place people go to learn about up-and-coming payment method specs. We should be advertising that work on the WG site.

Why, then, you may ask, put this list there at all? Because of the persistence policy associated with W3C specif

[2017-04-27 03:34] marcoscaceres commented on #29
I don't think we actually want this link at all. It's used for "Potentially Trustworthy URLs", which leads to:

And I don't think we want people using "wss://" URLs for identifiers. We might as well just do a scheme is "https" check instead.

[2017-04-27 03:42] marcoscaceres commented on #18
This is outside the scope of this specification, so closing. Please open against the payment manifest spec.

[2017-04-27 03:42] #18 closed, assigned to nobody

[2017-04-27 03:43] marcoscaceres opened #32 ""W3C String" is overly generic"
The spec talks about "W3C String" for formally registered method identifiers - this is problematic when we want to talk about those from other specs.

[2017-04-27 05:12] marcoscaceres opened #33 "Reference manifest spec"
The spec says:

I think we should remove this. Identifiers should be identifiers - they are used by developers (for the purpose of the API) and should not be used in the manner above.

[2017-04-27 05:35] marcoscaceres opened #34 "Remove "Conditional Matching Beyond Payment Method Identifier Matching""
The section "Conditional Matching Beyond Payment Method Identifier Matching" is out of place in this specification. We should move that to a "best practices" wiki page or something.

[2017-04-27 06:12] ianbjacobs commented on #34
We have a candidate document where this could go (e.g., in section 3.1):

Payment Method Best Practice
https://w3c.github.io/webpayments/proposals/method-practice/

[2017-04-27 06:18] ianbjacobs commented on #29
Please bring this question back to the WG as it made a conscious decision that "always requiring HTTPS" might be overconstraining.

[2017-04-27 06:24] ianbjacobs commented on #33
@marcoscaceres,

Our expectation is that people will publish payment manifest files at these URLs.

Editorially, this sentence might be considered somewhat redundant with the first sentence of the paragraph. The two could be merged, and the first sentence of the paragraph would become:

"When the party responsible for a payment method wishes to publish machine-readable information associated with

[2017-04-27 06:26] marcoscaceres commented on #34
Excellent!

[2017-04-27 06:32] marcoscaceres commented on #23
Sorry @molly26dalton - I went on a rewrite binge (#35)! Would appreciate a detailed review.

[2017-04-27 06:40] marcoscaceres commented on #33
Although I'm extremely supportive of the payment manifest spec, I still don't think this spec should say anything like the above. Also, the manifest spec, IIRC, just serves back a HTTP Link header, which itself links to the manifest.

As such, we shouldn't imply anything about what to expect at the endpoint (not in this spec).

@zkoch, wdyt?

[2017-04-27 06:42] ianbjacobs commented on #33
My understanding is that there was a strong desire to indicate what to expect at the end point of these URLs (and thus, it seems appropriate to mention it in this spec, as a reference to the payment method manifest spec).

Ian

[2017-04-27 06:43] marcoscaceres commented on #29
The spec _already required HTTPS_ (or `wss:`). Again, quoting:

The change doesn't change what was already specified.

Are you saying that someone in the WG wanted to use web socket URLs? That wouldn't make sense.

[2017-04-27 06:48] ianbjacobs commented on #29
See this issue:
 https://github.com/w3c/webpayments-method-identifiers/issues/17

And discussion here:
  http://www.w3.org/2017/02/23-wpwg-minutes.html

The goal was not to overconstrain the syntax. The text you found was our attempt to do that.

Ian

[2017-04-27 06:48] marcoscaceres commented on #33
That doesn't make any sense tho? These are identifiers for the purpose of Payment Request. We are not going to replay 20 years of namespace discussions, I hope.

Now, we could have a note that references the manifest spec - but we can't make the reference here normative because we can't expect, for example, Mozilla, to support the payment manifest to also support this spec.

[2017-04-27 06:49] ianbjacobs commented on #33
Our consensus was to set an expectation that people will publish payment manifest files at these URLs. What is a good way to express that?

Ian

[2017-04-27 06:55] marcoscaceres commented on #29
Well, now that we are actually implementing, we need this.

It blocks Payment Request CR:
https://github.com/w3c/browser-payment-api/issues/464#issuecomment-290248922

I don't see why it would be helpful to have rando URLs schemes, apart from being a "nice to have".

[2017-04-27 06:59] marcoscaceres commented on #29
Ok, rereading the [SECURE-CONTEXTS], I'll reintegrate potentially trusted into the validation algo.

[2017-04-27 08:39] marcoscaceres commented on #26
Started working on this. @ianbjacobs, will use your proposed structure from https://github.com/w3c/webpayments-method-identifiers/issues/26#issuecomment-295483513

[2017-04-27 08:44] marcoscaceres commented on #26
@ianbjacobs we have a few options... we can make this dynamically update via XHR or we can get ReSpec to include the registry on each generation... If we go the ReSpec path, we can set up auto publish, like we do with the Payment Request spec.

[2017-04-27 08:47] ianbjacobs commented on #26
If I understand correctly, the ReSpec option has the slight advantage of being static (since the list won't change often).

[2017-04-27 08:47] marcoscaceres commented on #26
err... Payment Request spec, I mean. Fixed above.

Of course, the drawback with the ReSpec approach is that we need to update both a JSON file and republish the spec... with the JSON only solution, we still need to find a way of keeping the JSON file in sync on the w3c server... so, both solutions are almost the same. Problem is when we reach REC, and if we want to keep auto-publishing or not.  Th

[2017-04-27 08:50] marcoscaceres commented on #26
Anyway, think about it and let me know... both solutions basically use the same code so happy to do either.

[2017-04-27 11:19] marcoscaceres commented on #33
We should just say that other specs may use the http end points. This spec doesn't put any restrictions on that.

[2017-04-27 16:18] ianbjacobs commented on #33
As I said, the consensus was that we say more specifically what sort of thing one will find. We will also want an informative reference to payment method manifest spec (in an informative note of some sort).

(In the future we may merge the two specs, but there is no push to do that in the short term.)

Ian

[2017-04-27 16:21] ianbjacobs commented on #26
My gut suggests it is better to optimize for performance than maintenance here. We just need to document clearly what has to happen when we add a shortname + link to the JSON.

Thanks!

Ian

[2017-04-27 19:06] adrianhopebailie commented on #26
Please can we use the latter approach.

These are specifications that people are developing against. Nobody wants them to change under their feet or have weird things happen when they download the spec to use offline.

A little extra effort from the editors seems the right choice vs a spec that COULD change due to external factors.

[2017-04-27 20:42] ianbjacobs commented on #26
@adrianhopebailie wrote:

"Please can we use the latter approach."

I think you mean "republish a static version after edits" which I agree with.

However, it occurs to me that if we republish _other_ parts of the spec at the
same time, that might lead to unexpected other changes, so that's a disadvantage
to this approach.

Ian

[2017-04-28 04:09] marcoscaceres commented on #26
Ok, I was thinking about this some more, and if we are just going to go the static-autopublish route, then we might as well just add things directly to the document without any JSON file (as the JSON file would just be transformed into HTML anyway... no need for any indirection then).

I'll add basic card, allowing us to close this.

[2017-04-28 04:09] zkoch commented on #33
I'm trying to go back and remember these conversations. For a long time we said identifiers are just that - identifiers. Nothing more. But we *can* layer functionality on top of these identifiers and them being URLs makes it pretty easy to do this (e.g. payment method manifest). Given that we have a separate spec now that clarifies what exactly that is, I would be comfortable taking that language

[2017-04-28 06:13] ianbjacobs commented on #33
Given that our expectation is that people will publish these payment method manifests, I think we do a disservice if we remain silent in the PMI spec about this. I would love for @marcoscaceres to propose language he thinks is architecturally sound while still referring to the payment method manifest spec.

Ian

[2017-06-20 05:12] zcorpan commented on #27
Parsing will also fail for "foo" because there's no base URL.

[2017-06-23 08:58] marcoscaceres opened #37 "Add ignore example"
With regards to...

@zkoch wrote:

[2017-06-23 09:00] #7 closed, assigned to marcoscaceres

[2017-06-23 09:00] #8 closed, assigned to marcoscaceres

[2017-06-23 09:00] #22 closed, assigned to marcoscaceres

[2017-06-23 09:00] #23 closed, assigned to marcoscaceres

[2017-06-23 09:00] #29 closed, assigned to nobody

[2017-06-23 09:00] #30 closed, assigned to marcoscaceres

[2017-06-23 09:00] #32 closed, assigned to marcoscaceres

[2017-06-23 09:00] #34 closed, assigned to nobody

[2017-06-23 09:06] marcoscaceres commented on #28
No longer an issue

[2017-06-23 09:06] #28 closed, assigned to nobody

[2017-06-23 09:07] marcoscaceres commented on #27
handled by updated spec

[2017-06-23 09:07] #27 closed, assigned to adrianba

[2017-06-23 09:07] marcoscaceres commented on #26
This is now in the spec

[2017-06-23 09:07] #26 closed, assigned to marcoscaceres, ianbjacobs

[2017-06-23 13:39] ianbjacobs commented on #33
Hi @marcoscaceres,

This was closed without addressing my request to reference the manifest spec. At least I don't see a reference in PR #35.

Ian

[2017-06-23 13:43] marcoscaceres commented on #33
Apologies, will add!

[2017-06-23 13:43] ianbjacobs commented on #33
Thank you.

It also occurs to me that we might want to elevate the good practices doc at some point...I'll take this to the WG.

Ian

[2017-07-18 01:30] marcoscaceres opened #38 "Rename repo payment-method-id"
The repo should be renamed to match the TR short name.

[2017-07-18 01:31] marcoscaceres opened #39 "CR checklist"
For all Transition Requests, to advance a specification to a new maturity level other than Note, the Working Group:

 * [x] must [record the group's decision to request advancement](https://lists.w3.org/Archives/Public/public-payments-wg/2017Jul/0020.html).
 * [ ] must obtain Director approval.
 * [x] must provide public documentation of all substantive [changes to the technical report](https://gi

[2017-07-18 02:05] ianbjacobs commented on #38
Hi @marcoscaceres,

Is that something you would like me to do, and if so, when?

(Some links will break; in particular:
 https://w3c.github.io/webpayments-methods-tokenization/ )

Ian

[2017-07-18 02:11] marcoscaceres commented on #38
I'm happy to do it, but yeah... we will need to hunt down broken links.

[2017-07-18 02:12] marcoscaceres commented on #38
Tokenization spec shouldn't break, as it's pointing to `/TR/`

[2017-07-18 02:14] marcoscaceres commented on #39
@ianbjacobs, would appreciate your help with this one.

[2017-07-18 14:29] ianbjacobs commented on #39
Hi @marcoscaceres, @zkoch, @adrianba, @sideshowbarker,

For CR-readiness, the main topics that need some attention are:

* Resolving small number of [open issues](https://github.com/w3c/webpayments-method-identifiers/issues) or marking as editorial or whatever.
* Establishing how we will show interop for validation and comparison of both types of PMIs (URL and short string). I imagine some of that

[2017-07-19 22:40] marcoscaceres commented on #38
Done rename, updated links.

[2017-07-19 23:34] ianbjacobs commented on #38
Hi Marcos,

Some links to fix:

 * In the spec in the status section, there is " Please file any issues with this specification in the payment method identifiers repository on GitHub." that is now a broken link and should be https://github.com/w3c/payment-method-id/issues

 * Please update in the spec similarly:
     github: "https://github.com/w3c/webpayments-method-identifiers"

Thanks!

Ian

[2017-07-20 01:56] marcoscaceres commented on #38
Thanks, fixing now.

[2017-07-20 01:59] #38 closed, assigned to nobody

[2017-07-21 06:01] marcoscaceres commented on #39
@ianbjacobs I added a placeholder for the implementation report:
https://w3c.github.io/payment-method-id/reports/implementation.html

[2017-07-24 05:56] marcoscaceres commented on #39
Ok, all issues addressed (well, PRs sent for them)! 🎉 Now just need "Director Approval".

[2017-07-24 05:58] marcoscaceres commented on #39
Actually, still need "must document how adequate implementation experience will be demonstrated,". Need to put something about tests and link to implementation report. The spec contains a link to the implementation report already, but I'ld like something in the SoTD.

[2017-07-24 06:41] marcoscaceres opened #43 "Auto-publishing failing on bad token"
@ianbjacobs or @sideshowbarker, could you get us a new auto-publish Echidna token for this specification?

https://github.com/w3c/echidna/wiki/Token-creation

The token we have appears to be invalid (probably copy/pasta from another repo).

See:
https://lists.w3.org/Archives/Public/public-tr-notifications/2017Jul/0047.html

[2017-07-24 12:31] marcoscaceres commented on #39
About testing, let's just write some tests using the examples I proposed today (using payment request) and "basic-card". I have a few tests locally that we can reuse.

That should be enough to pass for the purpose of CR.

[2017-07-24 13:53] deniak commented on #43
That's because the source of the manifest was [changed](https://github.com/w3c/payment-method-id/commit/87d5ced862f684b7f12463db8486f05a15c1d136#diff-354f30a63fb0907d4ad57269548329e3). I updated the token we have with the new source. It should be better now.

[2017-07-24 13:53] #43 closed, assigned to sideshowbarker

[2017-07-24 14:18] marcoscaceres commented on #43
@deniak, thanks! We also just renamed another repo: https://github.com/w3c/payment-request/pull/564#event-1176174814

Cab you please fix that one too?

[2017-07-24 14:29] deniak commented on #43
@marcoscaceres done!

[2017-07-24 14:39] marcoscaceres commented on #43
Thanks again! 🙇

[2017-07-26 21:51] #37 closed, assigned to marcoscaceres

[2017-08-15 07:32] #33 closed, assigned to marcoscaceres

[2017-08-16 00:36] #39 closed, assigned to marcoscaceres, ianbjacobs

[2017-08-23 14:10] mhahmadi opened #46 "w3c.github.io/payment-method-id/ is not in parity with the tests"
https://w3c.github.io/payment-method-id/ mentions the following invalid method identifiers are all ignored by the user agent. Some user agents might inform developers that identifiers are invalid to help them fix issues.
const invalid = [
  {
    // ❌ Contains Unicode character outside the valid ranges.
    supportedMethods: "basic-💳",
  },
  {
    // ❌ Contains uppercase characters.
    supported

[2017-08-23 14:14] marcoscaceres commented on #46
Trust the tests. I'll update the spec tomorrow.

[2017-08-23 14:19] marcoscaceres commented on #46
Actually, re-reading, I think I removed the "ignore invalid ones" already. Can you point me to the section where it says a user agent must ignore invalid PMIs? Did I miss it?

[2017-08-23 14:20] rsolomakhin commented on #46
See the second note in https://w3c.github.io/payment-method-id/#validity-0

[2017-08-23 14:20] mhahmadi commented on #46
![screenshot](https://user-images.githubusercontent.com/1598371/29620727-b8bb85c6-87ec-11e7-8d0a-02f6fb359e6a.png)

[2017-08-23 14:25] marcoscaceres commented on #46
Thanks! Heh, I've been looking at specs for so long my brain automatically skips over non-normative notes 🙃

[2017-08-23 14:27] mhahmadi commented on #46
Thank you for the quick turnaround Marcos.

[2017-08-30 04:26] marcoscaceres opened #48 "Better defined validity of standardized PMIs?"
As per spec, the following PMIs are all valid:

[code]

I think what we want is:

[code]

[2017-08-30 13:49] rsolomakhin commented on #48
This regex ok?

[code]

[2017-08-30 13:55] marcoscaceres commented on #48
Yeah, that looks correct.

[2017-08-31 04:06] #46 closed, assigned to nobody

[2017-08-31 22:44] #48 closed, assigned to nobody

[2018-07-30 19:18] rsolomakhin opened #52 "What can I do with a URL-based payment method identifier?"
During a [TAG review of Payment Handler](https://github.com/w3ctag/design-reviews/issues/231#issuecomment-377645336), a reviewer raised concern that it was not clear what a user agent could do with a URL-based payment method identifier. For example, does a manifest live there?

Payment method manifest ingestion is something that we have defined in the [payment method manifest spec](https://w3c.git

[2018-07-30 19:44] ianbjacobs commented on #52
Hi @rsolomakhin,

There used to be some text in the spec, but it was removed. However, I think at the time we did not have a Manifest spec, so maybe we could add mention to the spec, e.g.:

CURRENT:
  Developers wanting to use a URL-based payment method identifier for a third party payment handler are encouraged to read the Payment Method Best Practice document.

NEW:
  Developers wanting to use a

[2018-07-30 20:04] rsolomakhin commented on #52
That change sounds good. Perhaps we can be even more clear by adding this sentence at the end of the paragraph:

"These documents describe how to find the payment method manifest from a payment method identifier, allowing the user agent to discover installable payment apps, for example."

That wouldn't be too much, would it?

[2018-07-30 20:18] stpeter commented on #52
Maybe s/installable/available/ (it's not clear to me what we mean by "installable" - does it imply that an app can be installed "in real time / behind the scenes" or that payment apps require an explicit installation step?)

[2018-07-30 20:53] rsolomakhin commented on #52
"available" sounds good.

[2018-07-30 20:59] ianbjacobs commented on #52
Updated proposal (deleting both installable and available):

Developers wanting to use a URL-based payment method identifier for a third party payment handler are encouraged to read the Payment Method Manifest specification and the Payment Method Best Practice document. Together, these documents describe how the owner of a payment method can manage the ecosystem of authorized payment handlers and

[2018-07-30 21:05] stpeter commented on #52
@ianbjacobs I think we've gone astray with the last sentence. What about payment methods that don't have "owners" (say, Bitcoin) or that don't require authorization with a controlling entity (say, Interledger)? I liked what @rsolomakhin proposed, modulo the one word: "These documents describe how to find the payment method manifest from a payment method identifier, allowing the user agent to disco

[2018-07-30 21:09] ianbjacobs commented on #52
I am not uncomfortable saying "owner of a payment method" in the sense that some entity controls the origin. I also like adding the other bit about manifests - that the entity controls the ecosystem of payment handlers.

Here's a simpler version that does not say owner:

Developers wanting to use a URL-based payment method identifier for a third party payment handler are encouraged to read the Pay

[2018-09-26 02:47] marcoscaceres opened #54 "Generate an implementation report"
The spec is currently missing an implementation report. I've asked @yatri1609 to give us a hand with this! 👋

What we need to do:

- [x] copy/paste the [test file](https://w3c.github.io/payment-method-id/#comparison) referenced in the spec into: https://github.com/web-platform-tests/wpt/tree/master/payment-method-id. That way we have an independent test suite.

- [x] Verify that everything in the

[2018-09-26 11:10] yatri1609 commented on #54
Sure @marcoscaceres I'll do it

[2018-09-26 13:12] ianbjacobs commented on #54
Thanks for the help!!

[2018-09-26 13:24] #52 closed, assigned to nobody

[2018-09-26 18:16] yatri1609 commented on #54
@marcoscaceres While running the test in the browsers using "payment-request/" directory, it made a json file while running under "payment-method-id/" directory it didn't made any json file.  So is it what is expected or something unusal?

[2018-09-26 20:26] marcoscaceres commented on #54
So, just to confirm, did you copy/paste the file “payment-request/payment-request-ctor-pmi-handling.https.html” file into to the “payment-method-id/” directory? That needs to be in place for the test to run and produce the JSON.

once you move that file, please send a pull request to the web platform test repo... once that lands, the JSON file will get produced when you run the test suite.

[2018-09-26 20:39] yatri1609 commented on #54
@marcoscaceres Ohk!

[2018-09-26 20:54] yatri1609 commented on #54
@marcoscaceres Yes I did copy/paste it into the payment-method-id directory. Now I need to send a PR to which repo as I'm getting confused with the repos. The changes are made in the wpt repo and the PR must also be send in the same right? Then I'll be testing and generating the JSON file which will go in the test-results repo. Am I going in the right direction?

[2018-09-26 21:24] marcoscaceres commented on #54
Correct. Apologies for not being clear.

Yep 👍 that sounds correct.

[2018-09-26 21:25] yatri1609 commented on #54
Cool I'll send a PR to the wpt repo !

[2018-09-26 21:58] marcoscaceres commented on #54
Ok, first item at the top off the list crossed off! ✨

[2018-09-26 22:05] marcoscaceres commented on #54
Oh, to test in Firefox, make sure you do this:

1. Type “about:config” in the url bar and hit enter.
1. click yes to “void my warranty” :)
1. Search for “dom.payments.request.enabled” and set it to true.
1. Open a new tab and everything should be working. You might want to restart Firefox, just to be sure.

[2018-09-26 22:14] yatri1609 commented on #54
@marcoscaceres I did that and updated my PR but the file hasn't changed at all it was the same

[2018-09-26 22:24] marcoscaceres commented on #54
I’ll take a look, but unfortunately it won’t be until a bit later today.

[2018-09-26 22:26] yatri1609 commented on #54
@marcoscaceres Yeah no problem! I'll also have a look tomorrow morning as it's already 4 in the morning and I have lectures tomorrow so I'll complete the other tasks tomorrow. :grinning:

[2018-09-26 22:30] marcoscaceres commented on #54
Heh, was just thinking it must be super late for you :) I just tried it nonetheless, and the test is showing up. But yes, let’s finish this up tomorrow!

[2018-09-26 22:32] marcoscaceres commented on #54
Spotted a typo above, it should have said to run against "/payment-method-id/" (was missing first “/“)

[2018-09-27 13:57] yatri1609 commented on #54
@marcoscaceres We need to update the link to which link exactly... Is it the link to the payment-method-id till I understood?

[2018-09-27 14:11] marcoscaceres commented on #54
@yatri1609, so, in this repository, you just need to change:
https://github.com/w3c/payment-method-id/blob/gh-pages/index.html#L38

To:
[code]

[2018-09-28 04:09] yatri1609 commented on #54
@marcoscaceres I have already done that.

[2018-09-30 08:40] marcoscaceres commented on #54
@ianbjacobs, thanks to @yatri1609. we now have an implementation report showing 3 fully conforming implementations 🎉

I'll create a new bug to track moving this to Proposed Recommendation.

[2018-09-30 08:42] marcoscaceres opened #56 "Prepare for Proposed Recommendation"
The working group:

- [x] must show adequate implementation experience except where an exception is approved by the Director,
- [ ] must show that the document has received wide review,
- [ ] must show that all issues raised during the Candidate Recommendation review period other than by Advisory Committee representatives acting in their formal AC representative role have been formally addressed,

[2018-09-30 15:05] ianbjacobs commented on #54
@yatri1609 and @marcoscaceres,

Great work, thank you both very much!
🎉🎉🎉

[2019-01-17 04:21] marcoscaceres commented on #54
closing as done via #58

[2019-01-17 04:21] #54 closed, assigned to nobody

[2019-01-17 04:22] marcoscaceres commented on #56
All your @ianbjacobs 🎁

[2021-04-19 07:43] fred-wang opened #65 "Clarify security check for URL-based payment method identifier"
In https://w3c.github.io/payment-method-id/#validation the following security checks are performed:

* If url's scheme is not "https", return false.
* If url's username or password is not the empty string, return false.

Chromium's implementation does the following ( https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/renderer/modules/payments/payments_validators.cc;l=160;

[2021-04-19 12:45] rsolomakhin commented on #65
The "potentially trustworthy" http is being allowed for local testing on http://127.0.0.1 and allow-listed (on command-line) origins. We can update the spec to note that web browsers can provide affordances for local testing such as this.

[2021-04-19 12:55] fred-wang commented on #65
I believe referring to https://fetch.spec.whatwg.org/#http-scheme + https://w3c.github.io/webappsec-secure-contexts/#is-url-trustworthy would be enough. Note that there is already some explanation about why browsers may consider non-https URLs trustworthy on https://w3c.github.io/webappsec-secure-contexts/#implementation-considerations (albeit not for local servers).

[2022-08-30 23:27] marcoscaceres commented on #56
Closing as document is already PR.

[2022-08-30 23:27] #56 closed, assigned to ianbjacobs